* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*

font-family: 'Noto Sans KR', sans-serif;       // bold text-heading
font-family: 'Poppins', sans-serif;           // smal-fonts
font-family: 'Dancing Script', cursive;       // cursive


*/

:root {
  --red: #c93134;
  --gray: #ddd;
  --light: #f8f9fa;
}
.up {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  position: fixed;
  top: 90vh;
  left: 90%;
  background: white;
  z-index: 112;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.up a
{
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}
nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid gray; */
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  /* border: rgba(214, 60, 60, 0.5); */
  background: var(--light);
  z-index: 111;
}
nav .logo {
  width: 8vh;
  height: 8vh;
  background-image: url("./img/p_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px;

  margin: 5px 5px;
}
nav .list {
  width: 35%;
  height: 8vh;
  /* border: 1px solid black; */
}
nav .list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav .list ul li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  font-family: sans-serif;
  color: #c93134;
  padding: 10px 10px;
  line-height: 8vh;
  transition: all 0.3s;
  border-radius: 5px;
}
nav .list ul li a:hover {
  background: #c93134;
  color: white;
}

/* header */
header .main {
  height: 100vh;
  background: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .main .m-left {
  margin-left: 15vh;
}
header .main .m-right {
  margin-right: 3vh;
}
header .main .m-left img {
  height: 70vh;
}
header .main .m-right h1 {
  font-size: 55px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
header .main .m-right h1 span {
  color: var(--red);
}
header .main .m-right p {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
header .main .m-right button {
  padding: 1rem 2rem;
  margin-top: 40px;
  background: transparent;
  outline: none;
  border: 2px solid transparent;
  color: white;
  background: var(--red);
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
header .main .m-right button:hover {
  border: 2px solid var(--red);
  background: transparent;
  color: var(--red);
  font-weight: 600;
}
/*   franchise section start  */
.franchaise {
  width: 100%;
  height: 100vh;
  background-image: url("./img/food.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.franchaise .center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.franchaise .center .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80vh;
  border: 2px solid rgb(94, 93, 93);
  box-shadow: 0px 5px 15px rgba(214, 211, 211, 0.5);
}
.franchaise .center .content h1 {
  font-size: 51px;
  text-align: center;
  color: silver;
  padding: 10px;
  font-family: "Dancing Script", cursive;
  font-weight: 200;
}
.franchaise .center .content p {
  font-size: 24px;
  text-align: center;
  color: silver;
  padding: 30px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.franchaise .center .content button {
  margin-top: 20px;
  outline: none;
  padding: 15px 20px;
  color: #c93134;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #c93134;
  border-top: 2px solid #c93134;
}
.franchaise .center .content button:hover {
  color: silver;
  border: 2px solid silver;
}

/*  tyoe of Franchaise  */
#FT {
  position: relative;
}
.fra-box-model {
  width: 100%;
  height: 90vh;
  background-color: silver;
  background-image: url("./img/black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  opacity: 0.9;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fra-box-model .fra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  /* background: rgba(0, 0, 0, 0.3); */
}
.franchaise-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
  border: 2px solid rgb(94, 93, 93);
  box-shadow: 0px 5px 15px rgba(214, 211, 211, 0.5);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.franchaise-box .box {
  width: 40vh;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.franchaise-box .box h1 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  font-family: sans-serif;
  padding: 20px 20px;
  text-align: center;
}
.franchaise-box .box ol {
  list-style: none;
}
.franchaise-box .box ol li {
  color: white;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 7px 7px;
}
.franchaise-box .box a {
  text-decoration: none;
  color: #c93134;
  font-size: 20px;
  float: left;
  padding-left: 150px;
  transition: 0.5s;
  outline: none;
  background: none;
}
.franchaise-box .box a:hover {
  color: silver;
}

/* main secton*/
main .reg {
  height: 80vh;
  background: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10vh;
}
main .reg .r-form {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .reg .r-form h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
}
main .reg .r-form p {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: var(--red);
}
main .reg .r-form input {
  width: 40%;
  height: 7vh;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--red);
  background: var(--red);
  color: #ddd;
  font-size: 25px;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 5vh;
  font-family: "Dancing Script", cursive;
}
main .reg .r-form input::placeholder {
  color: var(--light);
  font-size: 25px;
  font-family: "Dancing Script", cursive;
}
main .reg .r-form button {
  background: var(--light);
  border: 2px solid var(--red);
  border-radius: 7px;
  padding: 1rem 2rem;
  color: var(--red);
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 5vh;
  outline: none;
}
main .reg .r-form button:hover {
  color: var(--light);
  background-color: var(--red);
}

main .reg .r-img {
  /* border: 1px solid black; */

  width: 60%;
  height: 100%;
}
main .reg .r-img img {
  margin-left: 10vh;
  margin-top: 5vh;
}

/*  Registration  section start */

.registration {
  width: 100%;
  height: 100vh;
  /* background-color: #404040; */
  background-image: url("./img/ring.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.registration .center {
  width: 45%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #888888;
  box-shadow: 1px 2px 15px 1px var(--light);
}
.registration .center h1 {
  color: #989898;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Lobster", cursive;
}
.registration .center input {
  outline: none;
  border: none;
  border-bottom: 1px solid #686868;
  background: none;
  width: 60%;
  height: 5vh;

  font-size: 18px;
  font-weight: 600;
  padding-left: 2vh;
  color: #888888;
}
.registration .center input::placeholder {
  font-size: 18px;
  font-weight: 600;
  padding-left: 2vh;
  color: #888888;
  font-family: "Poppins", sans-serif;
}
.registration .center button {
  outline: none;
  width: 60%;
  height: 7vh;
  background: var(--red);
  color: var(--gray);
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 2px 15px 1px var(--red);
}
.registration .center button:hover {
  background: transparent;
  border: 2px solid var(--red);
}

/* foter section start*/
footer .footer {
  height: 50vh;
  width: 100%;
  background-color: #c93134;

  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  grid-gap: 20px;
  padding: 2rem;
  color: #ddd;
}
footer .footer .f-first {
  /* border: 1px solid black; */
  padding: 1rem;
}
footer .footer .f-first .f-img img {
  height: 10vh;
  width: 10vh;
  border: 3px solid #fff;
}
footer .footer .f-first .f-content h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
footer .footer .f-first .f-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins;
  padding-top: 20px;
}
footer .footer .f-second {
  text-align: justify;
  display: flex;
  flex-direction: column;
}
footer .footer .f-second h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
footer .footer .f-second p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins;
  padding-top: 20px;
}
footer .footer .f-third {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
}
footer .footer .f-third .f-social {
  display: flex;
  flex-direction: column;
}
footer .footer .f-third .f-social a {
  text-decoration: none;
  color: #ddd;
}
footer .footer .f-third .f-social i {
  font-size: 25px;
  padding: 0.5rem;
  padding-top: 25px;
}

@media screen and (max-width: 500px) {
  /*  navbar  */
  nav {
    display: none;
  }
  /*header*/
  header .main {
    padding-left: 10px;
  }
  header .main .m-left {
    margin-left: 0vh;
  }
  header .main .m-right {
    margin-right: 0vh;
  }
  header .main .m-left img {
    display: none;
  }
  /* franchaise */
  .franchaise .center .content {
    width: 95% !important;
  }
  .franchaise .center .content h1 {
    font-size: 25px;
  }
  .franchaise .center .content p {
    font-size: 20px;
  }
  /* TYpe of franchaise*/
  .fra-box-model {
    height: 190vh;
  }
  .fra-box-model .fra {
    height: 190vh;
  }
  .franchaise-box {
    height: 190vh;
    flex-direction: column;
    top: 50%;

    border: none;
  box-shadow: none;

  }
  /*main*/
  main .reg {
    height: 100vh;
  }
  main .reg .r-form {
    padding-left: 10px;
    padding-right: 10px;
  }
  main .reg .r-form h1 {
    font-size: 50px;
  }
  main .reg .r-form p {
    font-size: 30px;
    text-align: justify;
    padding-top: 25px;
  }
  main .reg .r-form input {
    width: 100%;
  }

  main .reg .r-img {
    display: none;
  }

  /* registration */
  .registration {
    height: 100vh !important;
  }
  .registration .center {
    width: 95% !important;
    height: 100vh !important;
  }
  .registration .center h1 {
    font-size: 40px;
  }
  .registration .center input {
    width: 70% !important;
  }

  /*footer*/
  footer .footer {
    grid-template-columns: 1fr;
    width: 100% !important;
    height: 100%;
  }
  footer .footer .f-first {
    padding: 0;
  }
  footer .footer .f-third .f-social {
    flex-direction: row;
  }
}

.franchise-contant {
  width: 100%;
  height: 100vh;
  background: #ddd;

  display: flex;
  justify-content: center;
  align-items: center;
}
.franchise-contant .center-div {
  width: 100%;
  height: 100vh;

  border: 1px solid black;

  background: transparent;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.franchise-contant .center-div .fra-head {
  width: 100%;
  height: 10%;
  background: red;
}
.franchise-contant .center-div .fra-head h1 {
  line-height: 42px;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  font-family: sans-serif;
  padding: 20px 20px;

  color: #fff;
  /* writing-mode: vertical-rl;  */
}
.franchise-contant .center-div .fra-contant {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  /* border: 1px solid black; */
}
.franchise-contant .center-div .fra-contant p {
  font-size: 20px;

  padding: 15px 20px;

  text-align: justify;

  font-family: sans-serif;

  color: #696969;
}

@media screen and (max-width: 500px) {
  .franchise-contant {
    height: 110vh;
  }
  .franchise-contant .center-div {
    height: 110vh;
  }
  .franchise-contant .center-div .fra-head h1 {
    font-size: 25px;
  }
  .franchise-contant .center-div .fra-contant p {
    font-size: 18px;
    padding: 12px 0px;
    text-align: left;
  }
}


/*   Admin Panel start all 


Responsive is also started in end

*/

.admin-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-nav  .admin-name
{
    font-family: sans-serif;
}
.admin-nav .admin-name, .admin-options
{
    /* border: 1px solid black; */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-nav .admin-options ul
{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.admin-nav .admin-options ul li a
{
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: brown;
    padding: 10px 10px;
    border-radius: 3px;
    transition: .5s;
}
.admin-nav .admin-options ul li a:hover
{
    background: brown;
    color: white;
}

/*  Responsice table*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border: 1px solid #ddd;

    margin-top: 120px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-family: sans-serif;
  }
  td button
  {
    padding: 7px 6px;
    color: white;
    background-color: brown;
    outline: none;
    border: none;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

/**==============================================================================*/

/*  create_new_admin */

.form
{
    width: 100%;
    height: 80vh;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form .logo
{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;

    background-image: url('./img/p_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.form form
{
    /* border: 1px solid black; */
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form form input
{
    width: 60%;
    height: 5vh;
    border-radius: 4px;
    outline: none;
    border: 1px solid brown;
    font-size: 16px;
    padding-left: 10px;
    color: brown;
}
.form form input::placeholder
{
    color: brown;
    padding-left: 10px;
}
.form form input[type="submit"]
{
    background-color: brown;
    color: white;
    border-radius: 2px;
    letter-spacing: 1px;
}


/**==============================================================================*/

/*===================================*/

/*   Login .html*/

.login
{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login .logo
{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;

    background-image: url('./img/p_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.login form
{
    /* border: 1px solid black; */
    width: 40%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login form input
{
    width: 60%;
    height: 5vh;
    border-radius: 4px;
    outline: none;
    border: 1px solid brown;
    font-size: 16px;
    padding-left: 10px;
    color: brown;
}
.login form input::placeholder
{
    color: brown;
    padding-left: 10px;
}
.login form input[type="submit"]
{
    background-color: brown;
    color: white;
    border-radius: 2px;
    letter-spacing: 1px;
}
.login .forget-pass 
{
    width: 24%;
}
.login .forget-pass a
{
    text-decoration: none;
    float: right;
    margin-top: 20px;
}

/*===================================*/












/*===================================*/

/* Forget password/ reset-password*/

.login .text
{
    width: 35%;
    text-align: justify;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: red;
}


/*===================================*/

@media screen and (max-width:500px)
{
    .admin-nav .admin-name
    {
        display: none;
    }
    .admin-nav .admin-options ul
    {
        width: 100% !important;

    }
    .admin-nav .admin-options ul li a
    {
        font-size: 11px;
    }
    /*  create_new_admin */

    .form form
    {
        width: 100% !important;
    }
    .form form input
    {
        width: 80% !important;
    }
    /* table */
    table
    {
        width: 98% !important;
    }
    /* login */
    .login form
    {
        width: 100% !important;
    }
    .login form input
    {
        width: 80% !important;
    }
    .login .forget-pass 
    {
        width: 85% !important;
    }
    /* reset password*/
    .login .text
    {
        width: 90% !important;
    }
}
