* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  background: #f2f1ef;
  z-index: 1;
}
.navbar .logo {
  line-height: 8vh;
  height: 8vh;
}
.navbar .list {
  width: 40%;
}
.navbar .list .nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 8vh;
}
.navbar .list .nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: #c93134;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  transition: all 0.5s;
}
.navbar .list .nav-item a:hover {
  background: #c93134;
  color: white;
}
.navbar .list a button:hover {
  background: white;
  color: #c93134;
  border: 1px solid #c93134;
  border-radius: 3px;
  padding: 0.5rem 0.6rem;
  font-size: 18px;
}
.navbar .list a button {
  background: #c93134;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0.5rem 0.6rem;
  font-size: 18px;
  transition: all 0.3s;
}
.navbar .bar {
  display: none;
}
#header {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;

  /* background: gray; */
}
#header .headerImg {
  width: 100%;
}
#header .headerImg img {
  width: 50vh;
  height: 50vh;

  margin-left: 20vw;
}
#header .headerText {
  width: 100%;
  position: relative;
}
.headerText h1 {
  font-size: 70px;
  font-weight: 500;
  font-family: "Anton", sans-serif;
}
.headerText h1 span {
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed", sans-serif;
}
.headerText p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin-top: 30px;
}
.headerText button {
  padding: 1.2rem 2rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 40%;
  right: 40%;
  background: #c93134;
  color: white;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s;
  border-radius: 5px;
}
.headerText button:hover {
  background: white;
  color: #c93134;
  border: 2px solid #c93134;
}

/*register section start*/
#register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 15vh;
  margin-right: 15vh; */
  padding-top: 30vh;
  padding-bottom: 20vh;
  /* border: 1px solid black; */
  position: relative;
}
.reg-frinc {
  position: absolute;
  top: 8vh;
  left: 28%;
}
.reg-frinc h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Nanum Gothic", sans-serif;
}
.reg-form {
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 15vh;
}
.reg-form .reg-heading h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Nanum Gothic", sans-serif;
}
.reg-form .reg-heading p {
  font-family: "Poppins", sans-serif;

  font-size: 23px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 30px;
}
.reg-form .reg-form-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.reg-form .reg-form-data input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #c93134;
}
.reg-form .reg-form-data input::placeholder {
  color: #c93134;
  font-size: 18px;
}
.reg-form .reg-form-data button {
  background: #c93134;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 9vh;
  transition: all 0.5s;
}
.reg-form .reg-form-data button:hover {
  background: transparent;
  color: #c93134;
  border: 2px solid #c93134;
}
.reg-img {
  margin-right: 15vh;
}
.reg-img img {
  width: 50vh;
  height: 50vh;
}

/* why we section start*/

#we {
  background: #262626;
  /* margin-bottom: 10vh; */
}
.box-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.single-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}
.img-area {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80px;
  height: 80px;
  border: 6px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  --webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.single-box:nth-child(1) .img-area {
  background-image: url();
}
.single-box:nth-child(2) .img-area {
  background-image: url();
}
.single-box:nth-child(3) .img-area {
  background-image: url();
}
.header-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
.img-text {
  font-family: Poppins;
  padding-top: 20px;
}
.img-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.single-box:hover {
  background: #c93134;
  color: #fff;
}
/* foter section start*/
footer .footer
{
  height: 50vh;
  width: 100%;
  background-color: #c93134;

  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  grid-gap: 20px  ;
  padding: 2rem;
  color: #ddd;
}
footer .footer .f-first
{
  /* border: 1px solid black; */
  padding: 1rem;
}
footer .footer .f-first .f-img img
{
  height: 10vh;
  width: 10vh;
  border: 3px solid #fff;
}
footer .footer .f-first .f-content h1
{

  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
footer .footer .f-first .f-content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins;
  padding-top: 20px;
}
footer .footer .f-second
{
  text-align: justify;
  display: flex;
  flex-direction: column;
}
footer .footer .f-second h1
{
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
footer .footer .f-second p
{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins;
  padding-top: 20px;
}
footer .footer .f-third
{
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
}
footer .footer .f-third .f-social
{
  display: flex;
  flex-direction: column;
}
footer .footer .f-third .f-social a
{
  text-decoration: none;
  color: #ddd;
}
footer .footer .f-third .f-social i
{
  font-size: 25px;
  padding: .5rem;
  padding-top: 25px;
}



@media screen and (max-width: 500px) {
  .navbar {
    width: 100% !important;
    height: 11vh !important;
    display: block;
  }
  .navbar .logo {
    height: 15vh;
    padding: 1rem 2rem;
  }
  .navbar .list {
    display: none;
  }
  .navbar .mobile {
    width: 100% !important;
    height: 40vh;
  }
  .navbar .mobile .nav-list {
    flex-direction: column;
    height: 100%;
    /* border: 1px solid black; */
  }
  .navbar .mobile .nav-list li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar .bar {
    display: block;
    position: fixed;
    top: 4vh;
    right: 5vh;
  }
  .navbar .bar i {
    font-size: 4vh;
  }
  /*header section start*/
  #header {
    width: 100% !important;
    height: 50vh;
  }
  .headerImg {
    display: none;
  }
  .headerText {
    width: 95% !important;
  }
  .headerText h1 {
    font-size: 40px;
    text-align: center;
  }
  .headerText h1 span {
    font-size: 40px;
  }
  .headerText p {
    font-size: 18px;
    text-align: justify; /* For Edge */
    -moz-text-align-last: center; /* For Firefox prior 58.0 */
    text-align-last: center;
  }
  .headerText button {
    padding: 0.5rem 1rem;
    bottom: 10%;
    right: 8%;
  }
  /*Register section start*/
  .reg-frinc {
    width: 95% !important;
    left: 0%;
  }
  .reg-frinc h1 {
    font-size: 30px;
    text-align: center;
  }
  .reg-form {
    margin-left: 0vh;
    padding: 0.5rem 0.5rem;
  }
  .reg-form .reg-heading h1 {
    font-size: 40px;
    font-weight: 400;
  }
  .reg-form .reg-form-data {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    width: 95% !important;
  }
  .reg-form .reg-form-data input {
    height: 7vh;
    width: 95% !important;
  }
  .reg-form .reg-form-data button {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .reg-img {
    display: none;
  }
  /*why we section*/
  #we
  {
    margin-top: 35vh;
    width: 95% !important;
  }

  /*footer*/
  footer .footer
  {
    grid-template-columns: 1fr;
    width: 95% !important;
    height: 100%;
  }
  footer .footer .f-first
  {
    padding: 0;
  }
  footer .footer .f-third .f-social
  {
    flex-direction: row;
  }
}
